@import "screen1.css";
@import "screen2.css";
@import "screen3.css";
@import "screen4.css";
@import "responsive.css";
@import "reset.css";/* сбрoc настроек браузера */
@import "content.css"; /* контент / содержимое  */
@import "adaptive.css";/* адаптивность */

html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}